In [1]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

2 main datatypes

In [3]:
cars=  pd.Series(['bmw','benz','hyunda'])
colors=  pd.Series(['black','silver','red'])
cars

0       bmw
1      benz
2    hyunda
dtype: object

In [4]:
car_data = pd.DataFrame({'Brend':cars,'Color':colors})
car_data

    Brend   Color
0     bmw   black
1    benz  silver
2  hyunda     red

In [5]:
pwd

'C:\\Users\\David\\Desktop\\Study\\Python\\ztm'

In [6]:
a = pd.DataFrame([['1','2','3'],['a','b','c']])

In [7]:
car_sales = pd.read_csv('https://raw.githubusercontent.com/jeong-wooseok/zero-to-mastery-ml/master/data/car-sales.csv')
car_sales[:2]

     Make Colour  Odometer (KM)  Doors      Price
0  Toyota  White         150043      4  $4,000.00
1   Honda    Red          87899      4  $5,000.00

In [8]:
# Exporting dataframe
car_sales.to_csv('exported-car-sales.csv',index=False)

In [9]:
exported_car_sales = pd.read_csv('exported-car-sales.csv')
exported_car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [10]:
heart_disease = pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/heart-disease.csv")

## Describe data

In [11]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

car_sales.cplumns

In [12]:
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [13]:
car_sales.index

RangeIndex(start=0, stop=10, step=1)

In [14]:
car_sales.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [15]:
car_sales.info()
# index와 dype까지 같이 정리

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [16]:
car_sales.mean()

C:\Users\David\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

In [17]:
car_prices = pd.Series([300,1500,111222])
car_prices.mean()

37674.0

In [18]:
car_prices.sum()

113022

In [19]:
car_sales.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

In [20]:
car_sales['Doors'].sum()

40

In [21]:
len(car_sales)

10

## VIEWING AND SELECTING DATA

In [22]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [23]:
car_sales.tail()

     Make Colour  Odometer (KM)  Doors      Price
5  Toyota  Green          99213      4  $4,500.00
6   Honda   Blue          45698      4  $7,500.00
7   Honda   Blue          54738      4  $7,000.00
8  Toyota  White          60000      4  $6,250.00
9  Nissan  White          31600      4  $9,700.00

In [24]:
# .loc(), iloc()

animals = pd.Series(['cat','dog','bird','panda','snake'], index=[0,3,9,8,3])

In [25]:
animals

0      cat
3      dog
9     bird
8    panda
3    snake
dtype: object

In [26]:
# loc refers to index
animals.loc[3]

3      dog
3    snake
dtype: object

In [27]:
animals.loc[9]

'bird'

In [28]:
car_sales.loc[3]

Make                    BMW
Colour                Black
Odometer (KM)         11179
Doors                     5
Price            $22,000.00
Name: 3, dtype: object

In [29]:
# iloc refers to position
animals.iloc[3]

'panda'

In [30]:
car_sales.iloc[:3]

     Make Colour  Odometer (KM)  Doors      Price
0  Toyota  White         150043      4  $4,000.00
1   Honda    Red          87899      4  $5,000.00
2  Toyota   Blue          32549      3  $7,000.00

In [31]:
animals.iloc[:3]

0     cat
3     dog
9    bird
dtype: object

In [32]:
# animals.loc[:3]
# # 에러발생

KeyError: 'Cannot get right slice bound for non-unique label: 3'

In [ ]:
car_sales.Colour

In [ ]:
car_sales['Odometer (KM)']

In [ ]:
car_sales.Odometer (KM)
# 괄호 등 메타부호 있는 것은 불가

In [ ]:
# boolin indexing
car_sales[car_sales.Make =='Toyota']

In [ ]:
car_sales.Make =='Toyota'

In [ ]:
car_sales['Odometer (KM)']>100000

In [ ]:
car_sales[car_sales['Odometer (KM)']>100000]

## Pivoting

In [ ]:
pd.crosstab(car_sales['Make'],car_sales['Doors'])

In [ ]:
 car_sales.groupby(['Make']).mean()

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
car_sales['Odometer (KM)'].plot()

In [ ]:
car_sales['Odometer (KM)'].hist()

In [ ]:
car_sales['Price'].plot()
# 에러를 해결해보자

In [ ]:
car_sales['Price'] = car_sales['Price'].str.replace('[\$\,\.]','').astype(int)

In [ ]:
car_sales.info()

In [ ]:
car_sales['Price'].plot()

## Manipulating Data

In [ ]:
car_sales['Make'].str.lower()

In [ ]:
car_sales_missing = pd.read_csv('https://raw.githubusercontent.com/jeong-wooseok/zero-to-mastery-ml/master/data/car-sales-missing-data.csv')
car_sales_missing

In [ ]:
car_sales_missing['Odometer'].mean()

In [ ]:
car_sales_missing['Odometer'].fillna(car_sales_missing['Odometer'].mean(), inplace =True)

In [ ]:
car_sales_missing

In [ ]:
car_sales_missing_dropped = car_sales_missing.dropna()

In [ ]:
car_sales_missing_dropped.to_csv('car-sales-missing-dropped.csv')

In [ ]:
#Column from series
seats_columns =pd.Series([5,5,5,5,5])

#new columns seats
car_sales['Seats'] = seats_columns
car_sales

In [ ]:
car_sales['Seats'].fillna(5, inplace=True)
car_sales

In [ ]:
# column from Python list
fuel_economy = [7.5,9,8,6,10,8,10,8,19,15]
car_sales['fuel_economy'] = fuel_economy

In [ ]:
car_sales

In [ ]:
# creating new column by calculating from existing columns
car_sales['Total_Fuel_Used'] = round(car_sales['Odometer (KM)']/car_sales['fuel_economy'],1)

In [ ]:
car_sales

### 샘플추출

In [ ]:
car_sales_shuffled = car_sales.sample(frac=1)
car_sales_shuffled

In [ ]:
car_sales_shuffled.sample(frac =0.2)

In [ ]:
car_sales_shuffled.reset_index()

In [ ]:
car_sales_shuffled.reset_index(drop=True)

### Apply, Lambda적용

In [ ]:
car_sales['Odometer (Mile)'] = car_sales['Odometer (KM)'].apply(lambda x : round(x/1.6,1))
car_sales