<a href="https://colab.research.google.com/github/jeong-wooseok/Python/blob/master/Pandas_by_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 판다스 기초

##1강. Colab 접속하기
- 라이브러리 임폴트
- colab 설정
- csv파일, excel파일 불러오기

In [ ]:
import pandas as pd # 판다스 라이브러리를 불러옴

In [ ]:
cali_house = pd.read_csv('/content/sample_data/california_housing_test.csv') # read_csv 및 링크를 통해 데이터를 불러와서 변수에 담음

In [ ]:
cali_house.head(5) # 담긴 변수의 데이터프레임 5개 개체만 보기

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [ ]:
cali_house.info() # 데이터프레임 구조 보기, 자료형

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB

In [ ]:
emp = pd.read_excel('/content/연습용.xlsx',header=1,sheet_name = 0, index_col = 0)
emp.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 3 entries, nan to nan
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      3 non-null      object
 1   키       3 non-null      int64
 2   전화번호    3 non-null      object
 3   입사일자    3 non-null      datetime64[ns]
 4   직급      3 non-null      object
 5   직책      3 non-null      object
 6   직무      3 non-null      object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 192.0+ bytes

In [ ]:
emp_as = pd.read_excel('/content/연습용.xlsx',header=1,sheet_name = 1, index_col = 0)
emp_as.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 3 entries, nan to nan
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      3 non-null      object
 1   년도      3 non-null      int64
 2   직무      3 non-null      object
 3   업적      3 non-null      object
 4   종합      3 non-null      object
dtypes: int64(1), object(4)
memory usage: 144.0+ bytes

[연습용엑셀다운로드](https://docs.google.com/spreadsheets/d/1hh4mwrhpcOO3558tVDIvo9p5KIDry4Fm6cAV3IseczU/edit?usp=sharing)

## 2 강. Colab을 활용해서 시각화를 해보자
- 엑셀이면 되지, 왜 굳이 코딩을 하니? 
 + 분석
 + 시각화
- 시각화
 + matplotlib
 + seaborn

In [ ]:
cali_house.describe() # 평균, 표준편차, 최소값, 중위값, 최대값 등 계산

In [ ]:
cali_house.corr() # Corr 메소드를 통해 변수간 상관계수 확인

In [ ]:
fig = plt.figure(figsize=(20,10))

cali_house.plot(x='median_income',y = 'median_house_value',marker='o', ls='none',c='r')
cali_house.plot(x='total_bedrooms',y = ['median_house_value','population'],marker='o', ls='none')

In [ ]:
cali_house.median_income.hist(bins=100)

In [ ]:
import seaborn as sns          
sns.pairplot(cali_house)

### Matplotlib

#### 선그래프

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10,5)) # 도화지를 그리고

x = [1,2,3,4,5] # 변수 넣고
y = [6,7,8,9,10]

plt.plot(x,y) # 출력해

In [ ]:
plt.scatter(x,y)
# plt.plot(x,y,marker='+',ls='none') # scatter 와 동일한 효과

#### 막대그래프

In [ ]:
plt.bar(x,y, color = '#6A8799', width=0.5)

비교 막대그래프

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np


labels = ['G1', 'G2', 'G3', 'G4', 'G5']
men_means = [20, 34, 30, 35, 27]
women_means = [25, 32, 34, 20, 25]

x = np.arange(len(labels))  # the label locations
width = 0.35  # the width of the bars

fig, ax = plt.subplots()

ax.bar(x - width/2, men_means, width, label='Men')
ax.bar(x + width/2, women_means, width, label='Women')

# Add some text for labels, title and custom x-axis tick labels, etc.
ax.set_ylabel('Scores')
ax.set_title('Scores by group and gender')
ax.set_xticks(x)
ax.set_xticklabels(labels)
ax.legend()

In [ ]:
labels = ['G1', 'G2', 'G3', 'G4', 'G5']
men_means = np.array([20, 34, 30, 35, 27])
women_means = np.array([25, 32, 34, 20, 25])

# x = np.arange(len(labels))
x = labels

plt.barh(x, -men_means, width, label='Men')
plt.barh(x, women_means, width, label='Women')
plt.legend()

누적 막대그래프

In [ ]:
import matplotlib.pyplot as plt
# 평균과 표준편차를 한번에 보기

labels = ['G1', 'G2', 'G3', 'G4', 'G5']
men_means = [20, 35, 30, 35, 27]
women_means = [25, 32, 34, 20, 25] 
men_std = [2, 3, 4, 1, 2]
women_std = [3, 5, 2, 3, 3]
width = 0.35       

fig, ax = plt.subplots()

ax.bar(labels, men_means, width, yerr=men_std, label='Men')
ax.bar(labels, women_means, width, yerr=women_std, bottom=men_means,
       label='Women')

ax.set_ylabel('Scores')
ax.set_title('Scores by group and gender')
ax.legend()

plt.show()

#### Bar Plot <br>
최소/최대값 25% 중분위 75%의 값을 확인 가능

In [ ]:
data = np.random.rand(100,5)
plt.boxplot(data)
plt.show()

#### 원 그래프 (PI)

In [ ]:
plt.figure(figsize=(10,5))
size= [2441,2312,1031,1233]
label = ['A','B','C','D']

plt.pie(size,labels=label, autopct = '%2.1f%%')#소수점 1자리

# def func(pct, allvals):
#     absolute = int(pct/100.*np.sum(allvals))
#     return "{:.1f}%\n({:d} )".format(pct, absolute)
# plt.pie(size, labels=label, autopct=lambda pct: func(pct, size))

plt.legend()
plt.show()

#### 화면나눠보기

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
plt.figure(figsize=(10,5))

x1 = range(50)
y1 = [np.cos(v) for v in x1]

x2 = range(50)
y2 = [np.sin(v) for v in x2]

plt.subplot(1,2,1) # subplot : 도화지를 나눔, 1행/2열로 나누고 첫번째도화지에...
plt.plot(x1,y1, c = 'grey', ls= ':',lw ='2') #x1,y1을 그리고

plt.subplot(1,2,2) # 두번째도화지에 두번째 그래프를 그려라.
plt.plot(x2,y2, c = 'black', ls = '-', lw ='0.5' )

#### 기타
본격적으로 배워보기 위해 MATPLOTLIB 사이트를 방문 합니다.<br>
[MATPLOTLIB 공식사이트](https://matplotlib.org/gallery/index.html)

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.patches as patches
import matplotlib.cbook as cbook


with cbook.get_sample_data('grace_hopper.png') as image_file:
    image = plt.imread(image_file)

fig, ax = plt.subplots()
im = ax.imshow(image)
patch = patches.Circle((260, 200), radius=200, transform=ax.transData)
im.set_clip_path(patch)

ax.axis('off')
plt.show()

In [132]:
dog = plt.imread('/content/강아지_5.jpg')

[강아지파일다운](https://drive.google.com/file/d/1YBA86nf_EsHeZq8U94-jFq6BsGgl2Pc9/view?usp=sharing)

In [134]:
dog.shape # 이미지가 숫자화 된 것을 볼 수 있음

(400, 356, 3)

In [ ]:
plt.imshow(dog)
plt.axis('off')

#### 정리

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
plt.figure(figsize=(10,5))

x1 = range(100)
y1 = [v for v in x1]


x2 = range(100)
y2 = [v*2 for v in x1]

plt.plot(x1,y1, c = 'grey', ls= ':',lw ='1',label='line1')
plt.plot(x2,y2, c = '#0000ff', ls= '-',lw ='1',label='line2')
plt.legend()

plt.text(80,100,'anyways', c='darkgrey', size = '12')
# text : 텍스트 입력
plt.annotate('Check',xytext=(47,75), xy=(50,60),\
        arrowprops = dict(fc= 'lightyellow', shrink = 0.2))
# annotate : 표식 표기 # 텍스트위치 xytext(,) 표식위치 xy(,), 페이스컬러 fc, 화살표길이 shrink

plt.xlabel('M Axis',size = '15') # x축 레이블
plt.ylabel('F Axis',size = '15') # y축 레이블
plt.title('F = ma',size = '20') # 타이틀 입력

## 3강. Groupby와 Seaborn시각화

### Seaborn

[SEABORN공식사이트](https://seaborn.pydata.org/tutorial.html)